<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="WSOL.IoCContainer.InitializationModule" type="WSOL.IocContainer.Configuration.InitializationModule, WSOL.IoCContainer"/>
  </configSections>
  <WSOL.IoCContainer.InitializationModule configSource="WSOL.IoCContainer.InitializationModule.config"/>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
      </controls>
      <namespaces>
      </namespaces>
    </pages>
    <compilation targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="WSOL.IocContainer.WebInitializationModule" type="WSOL.IocContainer.WebInitializationModule, WSOL.IocContainer" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>