<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="WSOL.IoCContainer.InitializationModule" type="WSOL.IocContainer.Configuration.InitializationModule, WSOL.IoCContainer"/>
  </configSections>
  <WSOL.IoCContainer.InitializationModule configSource="WSOL.IoCContainer.InitializationModule.config"/>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="WSOL" namespace="WSOL.ObjectRenderer.WebControls" assembly="WSOL.ObjectRenderer"/>
      </controls>
      <namespaces>
        <add namespace="WSOL.ObjectRenderer"/>
        <add namespace="WSOL.ObjectRenderer.Extensions"/>
      </namespaces>
    </pages>
    <compilation targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="WSOL.IocContainer.WebInitializationModule" type="WSOL.IocContainer.WebInitializationModule, WSOL.IocContainer" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <appSettings>
    <add key="WSOL.ObjectRenderer.Compiled" value="false"/>
    <add key="WSOL.ObjectRenderer.EnableFileWatcher" value="false"/>
    <add key="WSOL.ObjectRenderer.ViewsPath" value="~/Views"/>
  </appSettings>
</configuration>