<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="WSOL.IoCContainer.InitializationModule" type="WSOL.IocContainer.Configuration.InitializationModule, WSOL.IoCContainer"/>
  </configSections>
  <WSOL.IoCContainer.InitializationModule configSource="WSOL.IoCContainer.InitializationModule.config"/>
  <system.webServer>
    <modules>
      <!-- Ensures the ModuleLoader is Added First-->
      <add name="WSOL.IocContainer.WebInitializationModule" type="WSOL.IocContainer.WebInitializationModule, WSOL.IocContainer" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.web>
    <pages clientIDMode="AutoID">
      <namespaces/>
      <controls/>
    </pages>
    <compilation targetFramework="4.0"/>
  </system.web>
</configuration>