<?xml version="1.0" encoding="utf-8" ?>
<AutoVersion>
  <!-- See http://semver.org/ for more information -->
  <SemVer>
    <!-- Must Be Incremented on Breaking Changes Only -->
    <Major>3</Major>
    <!-- Must Be Incremented on New Features Only -->
    <Minor>0</Minor>
    <!-- Must Be Incremented on Bug Fixes / Dependency Updates Only -->
    <Patch></Patch>
    <!-- Optional Alpha Numeric string for pre-releases, can also contain dashes -->
    <PreRelease></PreRelease>
  </SemVer>
  <Metadata>
    <Company>WSOL</Company>
    <Description>Ektron CMS content maker which enables the creation of strongly typed models and easy rendering.</Description>
    <CopyrightInfo></CopyrightInfo>
    <GUID></GUID>
    <CodeLanguage>CS</CodeLanguage>
    <OutputFile>GeneratedAssemblyInfo.cs</OutputFile>
    <ComVisible>false</ComVisible>
    <GenerateClass>false</GenerateClass>
    <ComputerInfoEnable>false</ComputerInfoEnable>
    <GitTagEnable>false</GitTagEnable>
    <GitBranchEnable>false</GitBranchEnable>
    <!-- by default these stay at 1.0.0 to avoid assembly redirects -->
    <UpdateAssemblyVersion>false</UpdateAssemblyVersion>
    <UpdateAssemblyFileVersion>false</UpdateAssemblyFileVersion>
    <!-- Use NonStandard Versioning of (Major.Year.MMdd.HHmm)-->
    <UseNonStandardVersioning>false</UseNonStandardVersioning>
  </Metadata>
  <notes>
    <note date="20150618" author="bmcdavid" build="3.0.0">
      <![CDATA[
        Removed Renderer to its own package and repository, with ability to display any object instead of just IContent.
      ]]>
    </note>
    <note date="20150602" author="bmcdavid" build="2.2.0">
      <![CDATA[
        Added extension to get string value for enum.
        Added better help text for articlecontent model.
        Added Status and EndDateActionType to UnMakeItem in ContentFactory.
      ]]>
    </note>
    <note date="yyyyMMdd" author="bmcdavid" build="2.1.0">
      <![CDATA[
        Separated Super Template from content maker base.
        Fixed caching bug for contentcriteria.getcontent extension
      ]]>
    </note>
    <note date="yyyyMMdd" author="bmcdavid" build="2.0.1">
      <![CDATA[
        Fixed content maker Get in framework factory to use 0 instead of -1.
        Fixed folder sort when resolving folder settings as it was start top down instead of bottom up.
        Add try catch to ErrorPage Module since it has errors sporadically.
        Added DebugMode to renderer to make it easier to find views.
      ]]>
    </note>
  </notes>
</AutoVersion>